* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

/* logo + nav */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgb(230, 226, 217);
    padding: 0 20px;
}

#header-img {
    display: flex;
    max-width: 80px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(211, 177, 103);
}

@media screen and (max-width: 768px) {
    header {
        display: block;
    }
    #header-img {
        display: block;
        margin: 0 auto;
    }
    ul {
        display: block;
    }
    .nav-link {
        padding: 0;
    }
    h1 {
        margin-top: 200px;
    }
}

li {
    border-right: 1px solid rgb(226, 214, 146);
}
li:last-child {
    border-right: none;
}

li:hover {
    background-color: rgb(197, 145, 66);
}

li a {
    display: block;
    padding: 15px 70px;
    text-decoration: none;
    font-weight: 450;
    color: #000;
    text-align: center;
}

#body {
    margin-top: 100px;
}

h1 {
    font-weight: 500;
    font-size: 26px;
}

/* form */
h1, form {
    text-align: center;
}

form input {
    display: block;
    margin: 0 auto 20px;
    line-height: 20px;
}

#submit {
    padding: 5px 20px;
    background-color: rgb(226, 191, 115);
}

#submit:hover {
    background-color: rgb(226, 174, 61);
}

/* video */
iframe {
    display: flex;
    margin: 30px auto 10px;
    width: 100%;
    max-width: 560px;
}

/* features */
#features {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 150px auto;
    justify-content: center;
}

.icon {
    display: flex;
    color: darkorange;
    justify-content: center;
    align-items: center;
}

.guitar-features {
    width: 850px;
}

/* choices */
#choices {
    display: flex;
    justify-content: center;
}

.guitar-options {
    border: 1px solid black;
    padding-bottom: 15px;
    margin: 50px 30px 50px 0;
    width: 250px;
}

.guitar-options:last-child {
    margin-right: 0;
}

h3, h4, h4 + p {
    text-align: center;
}

h3 {
    padding: 15px 0 15px 0;
    margin: 0;
    background-color: #ddd;
}

.select {
    display: flex;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: rgb(226, 191, 115);
}

.select:hover {
    background-color: rgb(226, 174, 61);
}